<h1>Routines#index</h1>

<video width="320" height="240" controls><source src="<%= @routine[0].video %>" type="video/mp4"></video><br>
<video width="320" height="240" controls><source src="<%= @routine[1].video %>" type="video/mp4"></video><br>

<% 2.times do |t| %>
<video width="320" height="240" controls><source src="<%= @routine[2].video %>" type="video/mp4"></video><br>
<video width="320" height="240" controls><source src="<%= @routine[3].video %>" type="video/mp4"></video><br>
<video width="320" height="240" controls><source src="<%= @routine[4].video %>" type="video/mp4"></video><br>
<% end %>

<video width="320" height="240" controls><source src="<%= @routine[5].video %>" type="video/mp4"></video><br>

<% 2.times do |t| %>
<video width="320" height="240" controls><source src="<%= @routine[5].video %>" type="video/mp4"></video><br>
<video width="320" height="240" controls><source src="<%= @routine[7].video %>" type="video/mp4"></video><br>
<video width="320" height="240" controls><source src="<%= @routine[8].video %>" type="video/mp4"></video><br>
<% end %>

<video width="320" height="240" controls><source src="<%= @routine[9].video %>" type="video/mp4"></video><br>

<video width="320" height="240" controls><source src="<%= @routine[10].video %>" type="video/mp4"></video><br>
<video width="320" height="240" controls><source src="<%= @routine[11].video %>" type="video/mp4"></video><br>
<video width="320" height="240" controls><source src="<%= @routine[12].video %>" type="video/mp4"></video><br>
<video width="320" height="240" controls><source src="<%= @routine[13].video %>" type="video/mp4"></video><br>
